* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

header {
    background: url('asset/bg.jpg') no-repeat;
    background-blend-mode: multiply;
    opacity: .9;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    text-align: center;
}

header .wrapper-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

header .wrapper-center h1 {
    color: indianred;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-shadow: 0 4px 0px black;
    margin-bottom: 40px;
}

header .wrapper-center img{
    border-radius: 50%;
    border: 7px solid indianred;
    box-shadow: 0 26px 0px rgba(0,0,0,.7);
    width: 60%;
    transition: transform .5s ease-out;
    cursor: pointer;
}

header .wrapper-center img:hover{
    transform: scale(1.1);
}

header .wrapper-center ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 25px;

}

header .wrapper-center ul li a {
    margin-right: 30px;
    text-decoration: none;
    color: indianred;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-shadow: 0 4px 0px black;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

header .wrapper-center ul li a:hover {
    border-bottom: 5px solid indianred;
}

.about-me {
    background: lightcoral;
    color: bisque;
    text-align: center;
    padding: 15px 10px;
    height: 100vh;
    line-height: 100%;
    display: flex;
    align-items: center;
    
}

.about-me .wrapper h2 {
    text-shadow: 0 4px 0px black;
    font-size: 2,5rem;
    text-transform: uppercase;
    border-bottom: 7px solid white;
    display: inline-block;
    padding-bottom: 7px;
    margin-bottom: 40px;
   
}

.about-me .wrapper p {
   
    font-size: 20px;
    line-height: 25px;
    padding: 35px 35px;
    
}

.RO {
    background: rgb(207, 128, 128);
    color: bisque;
    text-align: center;
    padding: 15px 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
}

.RO .wrapper h2{
    text-shadow: 0 4px 0px black;
    font-size: 2,5rem;
    text-transform: uppercase;
    border-bottom: 7px solid white;
    display: inline-block;
    padding-bottom: 7px;
    margin-bottom: 40px;
}

.RO .wrapper p {
    font-size: 20px;
    line-height: 25px;
    padding: 35px 35px;
}

.KONTAK {
    background: indianred;
    color: bisque;
    text-align: center;
    padding: 15px 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
}

.KONTAK .wrapper h2{
    text-shadow: 0 4px 0px black;
    font-size: 2,5rem;
    text-transform: uppercase;
    border-bottom: 7px solid white;
    display: inline-block;
    padding-bottom: 7px;
    margin-bottom: 40px;
}

.KONTAK .wrapper p {
    font-size: 20px;
    line-height: 25px;
    padding: 35px 35px;
}

footer {
    background: wheat;
    color: black;
    text-align: center;
    padding: 15px 0;
}